.InboxViewBlock {
  width: 30%;
  height: 100%;
  padding: 5px;
  margin: 7%;
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.backToinbox {
  border: 0;
  padding: 10px;
  background-color: #eceaea;
}

.backToinbox:hover {
  background-color: #8e8ebf;
  cursor: pointer;
}

.InboxViewRow {
  margin: 10px 0;
  display: flex;
}

.InboxViewRow > label:first-child {
  margin: 10px 0;
  width: 30%;
  font-weight: bold;
}

.InboxViewRow > *:nth-child(2) {
  margin: 10px 0;
  width: 70%;
}
