.inboxMenu {
  width: 100%;
  margin: 1%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 200px;
  position: absolute;
  top: 20%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.receiverInbox {
  padding: 7px;
  background-color: #eceaea;
  margin-right: 5px;
  border: 0;
}

.receiverInbox:hover {
  background-color: #8e8ebf;
  cursor: pointer;
}

.senderInbox {
  padding: 7px;
  background-color: #eceaea;
  border: 0;
}

.senderInbox:hover {
  background-color: #8e8ebf;
  cursor: pointer;
}
