.mypageMenu {
  height: 35%;
  width: 10%;
  padding: 5px;
  margin: 7%;
  background-color: #e3e1e3;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.mypage:hover {
  background-color: #f0f2f3;
  cursor: pointer;
}

.memberInfo:hover {
  background-color: #f0f2f3;
  cursor: pointer;
}

.inbox:hover {
  background-color: #f0f2f3;
  cursor: pointer;
}

.myAuctionList:hover {
  background-color: #f0f2f3;
  cursor: pointer;
}

.joinedList:hover {
  background-color: #f0f2f3;
  cursor: pointer;
}

.likedList:hover {
  background-color: #f0f2f3;
  cursor: pointer;
}
